:root{
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color:#000;
    --star-gold-color:#ffce3e;
    --text-color:#333;
    --border-color:#dbdbdb;
    --header-height:120px;
    --navbar-height:32px;
    --header-with-search: calc(var(--header-height)  -  var(--navbar-height));
}
*{
    box-sizing: inherit;
    
}
html{
    /*  HACK */
    font-size: 62.5%;
    /* nếu để 100% thì 1rem = 16px , nếu chọn font-size:12px thì chia ra nữa , sẽ khó khắn , nên dùng 62,5%
    , => 1rem = 10px => 12px = 1.2rem */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */

.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* testtttt */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;

}

.bold{
    font-weight: bold;
}
/* Animation */
@keyframes  fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1 ;
    }
}
@keyframes growth {
    from{
        transform: scale(var(--growth-form));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
.modal{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadein linear 0.1s;
}
.modal__overlay{
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.1);
    
}
.modal__body{
    --growth-form:0.7;
    --growth-to:1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}
/* button style : viết sang bên này vì các nút này còn dunhg lại nữa */

.btn{
    height: 34px;
    min-width: 142px;
    text-decoration: none;
    border: none;
    font-size: 1.4rem;
    border-radius: 2px;
    padding:0 12px ;
    cursor: pointer;
    color:var(--text-color);
    line-height: 1.44rem;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0,0.09);
}
.btn.btn--size-S{
    height: 32px;
    font-size: 1.2rem;
    padding:0 8px;
}
.btn.btn--primary{
    background-color:#f53e2d;
    color:var(--white-color);
    margin-left:8px;
}
/* Selection */
.select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 1.4rem;
    color:var(--text-color)
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list a:hover{
    color: rgb(231, 4, 4);
}
.select-input__list{
    list-style: none;
    background-color: var(--white-color);
    padding: 8px 16px;
    margin:0;
    position: absolute;
    box-shadow: 0 1px 2px #ccc;
    left:0;
    top:calc(100% + 1px);
    width: 100%;
    display: none;
    border-radius: 2px;
    z-index: 1;
}
.select-input__item{
    padding: 5px 0;
}
.select-input__link{
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--text-color);
}
/* Thanh Số lượng sản phảm */
.pagination{
    display: flex;
    list-style: none;
    justify-content: center;
}
.pagination-item{
    min-width: 40px;
    height: 30px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}
.pagination-item:nth-child(2) {
    background-color: var(--primary-color);
}
.pagination-item:nth-child(2):hover {
    background-color: #f05d40;
}
.pagination-item:nth-child(2) a{
    color: var(--white-color);
}
.pagination-item__link{
    text-decoration: none;
    color:#939393;
    font-size: 2rem;
    font-weight: 400;
    width:100%;
    line-height: 30px;
    text-align: center;
}
.pagination-item__icon{
    font-size: 1.6rem;
}