*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif
}
.container
{
    background-image: url("/assets/img/background-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;

}
.form
{
    width: 350px;
    height: 400px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    margin: auto;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}
/* tieu de  */
.form-login
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 50px;
}
.form-login-text
{
    color: #fff;
    font-size: 35px;
}

/* noi dung  */
.content
{
    width: 80%;
    margin: 16px auto ;
}
.content-name
{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
}
.content-name-input
{
    display: flex;
    flex: 1 1 auto;
    padding: 5px 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    color: #fff;
}
.content-name-input:focus 
{
    outline :none

}

.content-pass
{
    display: flex;
    position: relative;

}
/* .content-name-2
{
    position: absolute;
    left: 2px;
    bottom: 0;
    color: #fff;
} */
::-webkit-input-placeholder
{
    color: rgba(255, 255, 255, .5);
    position: absolute;
    bottom: 0;
    font-size: 15px;
}
.remember-text
{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 15px;
    font-size: 15px;
}
.remember-item input 
{
    cursor: pointer;
}

#checkboxx
{
    margin-right: 5px;

}
.login
{
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    background-color: #ddd;
}
.login:hover
{
    background-color: #a79e9e;
    color: #ddd;
}
.remember-login
{
    display: flex;
    justify-content: center;

}
.account
{
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.loginnn
{
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
}

